<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .row1{
            padding-top:20px;
            padding-bottom:20px;
        }
        .row2{
            height:50px;
            
        }
        .row3{
            height:50px;
        }
        .row4{
            height:50px;
        }
        .row5{
            height:50px;
        }
    </style>

</head>
<body>


    <div class="header">
        <nav class="navbar navbar-expand-sm text-uppercase " id="xyz">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold">
                    <h1 class="display-6">MATHFORCES</h1>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
                        class="navbar-toggler-icon"><span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav text-center ml-auto">
                        <li class="nav-item active "><a class="nav-link" href="#">
                                <h5 class="display-15 font-weight-bold">Home</h5>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                                <h5 class="display-15 font-weight-bold">Contests</h5>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                                <h5 class="display-15 font-weight-bold">Practice</h5>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                                <h5 class="display-15 font-weight-bold">User</h5>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                                <h5 class="display-15 font-weight-bold">Leaderboard</h5>
                            </a></li>
                    </ul>
                </div>
            </div>
        </nav>

<div class="container">
    <h1>CONTEST-1</h1>
    <div class="row row1">
        <div class="col-xl-2"><a href="#">Problems</a></div>
        <div class="col-xl-2 "><a href="#">MySubmissions</a></div>
        <div class="col-xl-2"><a href="/leaderboard/{{contest}}">Leaderboard</a></div>      
    </div>
    <div class="row text-center row2">
        <div class="col-xl-1"style="border:2px solid black;padding-top:10px;font-size:20px;">#</div>
        <div class="col-xl-9 "style="border:2px solid black;padding-top:10px;font-size:20px;">Problems</div>
        <div class="col-xl-2"style="border:2px solid black;padding-top:10px;font-size:20px;">Result</div>    
    </div>
    {% for i in questions %}
    <div class="row text-center row3">
        <div class="col-xl-1"style="border:2px solid black;padding-top:10px;font-size:20px;">A</div>
        <div class="col-xl-9 "style="border:2px solid black;padding-top:10px;font-size:20px;"><a href="/question/{{i.id}}">{{Question.query.get(i.question_id).name}}</a></div>
        <div class="col-xl-2"style="border:2px solid black;padding-top:10px;font-size:20px;">
             {% if i.isCompleted %}
            AC
            {% else %}
            -
            {% endif %} 
        </div>    
    </div>
    {% endfor %}
</div>

    
</body>
</html>